In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectPercentile

# Naive Bayes

In [2]:
data = pd.read_csv('/home/shashanksoni092/DataScienceWorkspace/DataScienceProjectsPdf/NaiveBayes/spam.csv',encoding='latin-1')

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.shape

(5572, 5)

In [5]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1,inplace=True)

In [6]:
data.tail()

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [7]:
X_train, X_test,y_train, y_test = train_test_split(data.v2,data.v1,test_size=0.25)

In [8]:
y_train.head()

4395    ham
1264    ham
2165    ham
1450    ham
5186    ham
Name: v1, dtype: object

In [9]:
X_train.head()

4395    Dear :-/ why you mood off. I cant drive so i b...
1264                           I will see in half an hour
2165                        I'm not coming home 4 dinner.
1450                            Msg me when rajini comes.
5186                          I uploaded mine to Facebook
Name: v2, dtype: object

In [10]:
vectorizer = TfidfVectorizer()

In [11]:
X_train_transformed = vectorizer.fit_transform(X_train)
X_test_transformed = vectorizer.transform(X_test)

In [12]:
features_names = vectorizer.get_feature_names()

In [13]:
len(features_names)

7445

In [14]:
selector = SelectPercentile(percentile=10)
selector.fit(X_train_transformed, y_train)
X_train_transformed = selector.transform(X_train_transformed).toarray()
X_test_transformed = selector.transform(X_test_transformed).toarray()

In [15]:
X_train_transformed

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Applying Naive Bayes

In [16]:
m1 = GaussianNB()

m1.fit(X_train_transformed,y_train)
y_predict = m1.predict(X_test_transformed)
y_predict

accuracy_score(y_test,y_predict)
#y_predict
#accuracy_score(y_test,y_predict)
#np.mean(y_test == y_predict)

0.9662598707824839

In [17]:
np.mean(y_test == y_predict)

0.9662598707824839

In [18]:
confusion_matrix(y_test,y_predict)

array([[1166,   34],
       [  13,  180]])

In [19]:
(1177+166)/(1177+166+24+26)

0.9641062455132807

In [20]:
model_bernb = BernoulliNB()

model_bernb.fit(X_train_transformed,y_train)
y_predict = model_bernb.predict(X_test_transformed)


accuracy_score(y_test,y_predict)

0.9834888729361091

In [33]:
model_mulnb = MultinomialNB()

model_mulnb.fit(X_train_transformed,y_train)
y_predict = model_mulnb.predict(X_test_transformed)


accuracy_score(y_test,y_predict)

0.93610911701363964

In [38]:
newEmail = pd.Series('Hi,)

In [39]:
newEmail

0    Hi Sameer how are u
dtype: object

In [40]:
newEmail_transformed = vectorizer.transform(newEmail)
newEmail_transformed = selector.transform(newEmail_transformed).toarray()

In [41]:
m1.predict(newEmail_transformed)

array(['ham'],
      dtype='<U4')